Hey there! 👋

It looks like you're trying to recover your account. To get things back on track, just follow the link below:

{{ AuthCodeURL "recovery" . }}

If this wasn't you, no worries — just ignore this email.

Cheers,
Cameron

Need help? Reach us at {{ SupportEmail }}