Hey there! 👋

It looks like you're trying to recover your account, but you originally signed up using {{ capitalize .String }}. To get back into your account, please sign in using {{ capitalize .String }} instead.

If this wasn’t you, no worries — you can ignore this email.

Cheers,
Cameron

Need help? Reach us at {{ SupportEmail }}